<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Contacts</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>
<div class="container-fluid col-md-6 col-md-offset-3">

    <h1 th:text="${title}" class="page-header">DEFAULT HEADER</h1>

    <form action="#" th:action="@{/todo}" method="post" role="form">
        <div class="input-group">
            <input type="text" name="label" class="form-control" placeholder="What needs to be done?"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
            </span>
        </div>
    </form>

    <br/><br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Open Items</h3>
        </div>
        <div class="panel-body">

            <table class="table">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Created On</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="atodo : ${openTodos}">
                    <td>
                        <form action="#" th:action="@{/todo/complete}" th:object="${todo}" method="post">
                            <div class="checkbox">
                            <input name="id" type="checkbox" th:value="${atodo.id}" th:checked="${atodo.completed}"
                                       onclick="this.form.submit();"><h5 th:text="${atodo.label}">Label</h5></input>
                            </div>
                        </form>
                    </td>

                    <td><h5 th:text="${#dates.format(atodo.dateCreated, 'dd-MMM-yyyy')}">Date Created</h5></td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

    <br/><br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Completed Items</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Completed On</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="atodo : ${completedTodos}">
                        <td><h5>
                            <label th:text="${atodo.label}">Label</label>
                        </h5></td>

                        <td><h5 th:text="${#dates.format(atodo.dateCompleted, 'dd-MMM-yyyy')}">Date Completed</h5></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
</body>
</html>